<p>Nombre Empleado: {{getNombre()}} </p>
<p>Apellido Empleado: {{getApellido()}} </p>
<p>Edad Empleado: {{getEdad() > 18 ? "Mayor de edad": "Menor de edad" }} </p>
<p>Empresa Empleado: {{empresa.value}} </p>


  <label for="empresa">Inserte empresa:</label>
  <input type="text" #empresa (keyup)="0" [disabled]="getHabilitacionCuadro()">

  <br/>
  <br/>
  {{getTxtRegistro()}}
  <br/>
  <br/>
  <label for="registro">Registrado:</label>
  <input type="radio" name="nRegistro" id="registro" [checked]="getUsuarioReguistrado()" (click)="setUsuarioRegistrado($event)" value="si">
  <br/>
  <br/>
  <label for="Noregistro">No registrado:</label>
  <input type="radio" name="nRegistro" id="Noregistro" (click)="setUsuarioRegistrado($event)" value="no">

